.fixed-footer{
    position: fixed;
    padding: 0%;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: space-around;
    background-color: black;
    min-height: 5vh;
    color: #E5E5E5;
}

.footer-logos{
    display: flex;
    justify-items: center;
    align-items: center;
}
.footer-copyright{
    display: flex;
    justify-items: center;
    align-items: center;
}
.footer-date{
    display: flex;
    justify-items: center;
    align-items: center;
}