.fixed-footer{
    position: fixed;
    padding: 0%;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: center;
    min-height: 24px;
    background: black;
    height: 5vh;
    color: #E5E5E5;
    border-top: 2px;

}

.footer-logos{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-right: auto;
}
.footer-copyright{
    display: flex;
    justify-items: center;
    align-items: center;
}
.footer-date{
    display: flex;
    justify-items: center;
    align-items: center;
    margin-right: 3vw;
    margin-left: auto;
}