.fixed-footer{
    position: fixed;
    padding: 0%;
    display: flex;
    left: 0;
    bottom: 0;
    width: 100%;
    justify-content: space-between;
    background: black;
    height: 5vh;
    color: #E5E5E5;
    border-top: 2px;
}
.footer-logos{
    width: 35vw;
    display: flex;
    justify-content: center;
}
.footer-copyright{
    display: flex;
    justify-items: center;
    align-items: center;
}
.footer-date{
    width: 35vw;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}