html {
	background-color: #323232;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #ff1e56; 
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #000000; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #323232; 
}



.App {
  text-align: center;
}

.main-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 95vh;
  justify-content: center;
  align-content: center;
}

.main-page-animation {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #ffac41, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

.main-page-animation-out {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #ffac41, #23d5ab);
	background-size: 400% 400%;
	animation: closeModal 2s ease-out forwards;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes closeModal {
	0% { opacity: 1; }
	25% { opacity: 0.5; }
	50% { opacity: 0.25; }
	75% { opacity: 0.15; }
	100% { opacity: 0; }
}
